
<!DOCTYPE html>
<html lang="en">
        

<head>
    <meta charset="UTF-8">
    <title>Real Estate Stats For Investing Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>      
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link type="text/javascript" src="/javascripts/script1.js" />
    
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="topnav" id="myTopnav" style="padding-left:5%;">
      <a href="/" class="active">Home</a>
      <a href="/custManage">Customer Management</a>
      <a href="/navigate">Navigation</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div >
        <div class="jumbotron">
            <h1>The Beginning of Something Great!</h1>
            <h2>Whatever else we want to feed people's minds goes here...</h2>
            
        </div>
	</div>
    
    <div>
        <form action="/home" method="POST"></form>
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="password" name="password" >
            <br><br>
            <input type="submit" value="Submit">
          </form> 
    </div>

</html>